<script type="text/html" id="engine-item-template">
    <a href="#" class="list bg-lightBlue fg-white" id="engine-item-{%Id%}">
        <div class="list-content">
            <span class="icon icon-cog fg-white bg-darkBlue"></span>
            <div class="data">
                <span class="list-title">{%Model%}</span>
                <span class="list-remark"><span class="icon-barcode"></span> SN: {%SerialNumber%}</span>
                <span class="list-remark"><span class="icon-lab"></span> Fuel type: {%FuelType%}</span>
                <span class="list-remark"><span class="icon-database"></span> Engine Capacity: {%EngineCapacity%}L</span>
                <span class="list-remark"><span class="icon-tools"></span> Configuration: {%Configuration%}{%Cylinders%} {%ValversPerCylinder%}</span>
                <span class="list-remark"><span class="icon-share-3"></span> Tests: {%TestsCount%}</span>
            </div>
        </div>
    </a>
</script>