<script type="text/html" id="jobtitle-iteminfo-template">
    <h2 class="fg-white">{%Title%}</h2>
    <h6 class="fg-lightBlue">Title</h6>
    <h2 class="fg-white">{%Deleted%}</h2>    
    <h6 class="fg-lightBlue">Deleted</h6>    
</script>