<script type="text/html" id="test-item-template">
    <tr id="test-item-{%Id%}" data-rel="{%Id%}">
        <td>{%DateTime%}</td>
        <td>{%User%}</td>
        <td align="center">{%TIncomingAir%}</td>
        <td align="center">{%PBarometric%}</td>
        <td align="center">            
            <a href="javascript:void(0)" title="Delete" data-rel="{%Id%}"><span class="icon-remove"></span></a>
        </td>
    </tr>
</script>