<script type="text/html" id="user-iteminfo-template">
    <div class="user-profile-image">
        <img src="@Url.Content("~/Content/Images/ProfileImages/{%ProfileImage%}")" class="profile-image">
    </div>
    <div class="user-profile-data">
        <h2 class="fg-white">{%Login%}</h2>
        <h6 class="fg-lightBlue">Login</h6>
        <h2 class="fg-white">{%FirstName%}</h2>
        <h6 class="fg-lightBlue">First Name</h6>
        <h2 class="fg-white">{%LastName%}</h2>
        <h6 class="fg-lightBlue">Last Name</h6>
        <h2 class="fg-white">{%MiddleName%}</h2>
        <h6 class="fg-lightBlue">Middle Name</h6>
        <h2 class="fg-white">{%JobTitle%}</h2>
        <h6 class="fg-lightBlue">Job Title</h6>
        <h2 class="fg-white">{%Phone%}</h2>
        <h6 class="fg-lightBlue">Phone</h6>
        <h2 class="fg-white">{%Email%}</h2>  
        <h6 class="fg-lightBlue">Email</h6>
        <h2 class="fg-white">Tests View: {%SecurityTV%}; Tests Manage: {%SecurityTM%}; Users Manage: {%SecurityUM%}</h2>    
        <h6 class="fg-lightBlue">Access</h6>    
    </div>
</script>