<script type="text/html" id="jobtitle-item-template">
    <a href="#" class="list entity-deleted-{%Deleted%}" id="jobtitle-item-{%Id%}">
        <div class="list-content">
            <span class="icon icon-user-2"></span>
            <div class="data">
                <span class="list-title">
                    <span class="place-right icon-flag-2 fg-red smaller deleted-mark"></span>
                    {%Title%}
                </span>                
                <span class="list-subtitle">
                    <span class="place-right deleted-mark">Deleted</span>
                    Users: {%UsersCount%}
                </span>
            </div>
        </div>
    </a>
</script>